/* ================================
            Basic Setup
   ===============================*/

:root {
    --primary_color: #E02C6D;
    --secondary_color: #3A3A3A;
    --third_color: #6C6C6C;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ================================
        Reusable Components
   ===============================*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ================================
               Nav bar
   ===============================*/

#header_menu {
    padding: 80px 0 50px 0;
}

.header_menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_section {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--secondary_color);
}

nav ul li {
    display: inline-block;
}

nav ul li:hover a {
    color: var(--primary_color);
}

nav ul li a {
    padding: 0 18px;
    color: var(--secondary_color);
    font-weight: 500;
    font-size: 16px;
    transition: all .4s ease;
}

nav ul li a i {
    font-size: 18px;
}

nav ul li input {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid var(--secondary_color);
    width: 0px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

nav ul li:active input:focus,
nav ul li:focus input,
nav ul li:hover input {
    padding: 5px 10px;
    width: 200px;
}