/* ================================
            Basic Setup
   ===============================*/

:root {
    --primary_color: #E02C6D;
    --primary_color_hover: #bc1e58;
    --secondary_color: #3A3A3A;
    --third_color: #6C6C6C;
    --ex_white: #F1E4FF;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ================================
        Reusable Components
   ===============================*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 15px 30px;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}

.btn_primary {
    background: var(--primary_color);
}

.btn i {
    padding-left: 5px;
}

.btn_primary:hover {
    background: var(--primary_color_hover);
}

.btn_primary:hover {
    padding: 15px 40px;
}

/* ================================
               Nav bar
   ===============================*/

#header_menu {
    padding: 80px 0 50px 0;
}

.header_menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_section {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--secondary_color);
}

nav ul li {
    display: inline-block;
}

nav ul li:hover a {
    color: var(--primary_color);
}

nav ul li a {
    padding: 0 18px;
    color: var(--secondary_color);
    font-weight: 500;
    font-size: 16px;
    transition: all .4s ease;
}

nav ul li a i {
    font-size: 18px;
}

nav ul li input {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid var(--secondary_color);
    width: 0px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

nav ul li:active input:focus,
nav ul li:focus input,
nav ul li:hover input {
    padding: 5px 10px;
    width: 200px;
}

/* ================================
           Header/Hero bar
   ===============================*/

#header .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_info {
    width: 50%;
}

.header_image_wrapper {
	border: 3px solid var(--ex_white);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: relative;
	padding: 20px;
}

.header_image_wrapper::before {
    content: '';
    width: 70%;
    height: 70%;
    background: var(--ex_white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header_info h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: var(--secondary_color);
}

.header_info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary_color);
    padding: 16px 0;
}


/* ================================
                Brands
   ===============================*/

#brands {
    margin: 69px 0 100px 0;
}

#brands .brands_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px 0;
    border-width: 3px 0;
    border-style: solid;
    border-image: linear-gradient(45deg, #C0CCDA1A, #C0CCDA99, #C0CCDA1A) 1;
}

#brands .brands_wrapper img {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

#brands .brands_wrapper img:hover {
    transform: scale(1.2);
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}